div{
    width: 400px;
    height: 400px;
    background-color: yellowgreen;
    margin: 10px auto;
    background-image: url(https://img.freepik.com/premium-photo/white-cat-sits-basket-with-flowers_899870-5377.jpg);
    background-size: cover;
}